/* GLOBAL STYLES */
   /*Custom property*/
:root{
   --text-font: "Ubuntu", sans-serif;/* - */
   --accent-color: #5528FF;
   --main-text-color: #B2B2B2;
   --heading-color: #202020;
   --other-text-color: #4F4F4F;
   --line-text-color: #c2c2c2;
   --bg-color: #fff;
   --bg-footer-color: #f7f7f7;
   --black-color: #000;
   --white-color: #fff;
}

html{
   box-sizing: border-box;
   height: 100%;
   scroll-behavior: smooth;
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

/* BODY */
body{
   display: flex;
   flex-direction: column;
   height: 100%;
   background-color: var(--bg-color); /* - */
   color: var(--main-text-color); /* - */
   padding: 0;
   margin: 0;
   font-family: var(--text-font); /* - */
   font-size: 16px; /* - */
   line-height: 16px; /* - */
   letter-spacing: 0px;
}


/* LINK */
a{
   text-decoration: none;
}

/* LIST NONE */
li{
   list-style-type: none;
}

/* BUTTON */


/* CONTAINER */
.container{
   width: 100%;
   max-width: 1240px; /* - */
   padding: 0px 30px;
   margin: 0px auto;
}

/* ===== LET'S GO CODING =====*/

/*- HEADER*/
.header {
   padding: 53px 0px;
}
.header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo {
   display: flex;
   align-items: center;
}
.logo__img {
   margin: 0px 25px 0px 0px;
}
.logo__text {
   font-size: 24px;
   font-weight: 700;
   color: var(--heading-color);
}
.menu {
   display: flex;
   align-items: center;
}
.menu__item:not(:last-child) {
   margin: 0px 37px 0px 0px;
}

.menu__link {
   font-size: 14px;
   font-weight: 700;
   color: var(--heading-color);
}
.menu__btn {
   display: inline-block;
   padding: 3.5px 14px;
   border-radius: 5px;
   color: var(--white-color);
   background-color: var(--accent-color);
}


/*- CONTENT*/


/*- SERVICES*/


/*- CLIENTS*/


/*- OUR TEAM*/


/*- FOOTER*/


/*MEDIA QUERY*/

   /* LAPTOP 1024 */
@media (max-width: 1024px) {

}

   /* Tablet 768 */
@media (max-width: 768px) {

}

   /* Mobile L 425 */
@media (max-width: 425px) {

}

   /* Mobile M 375 */
@media (max-width: 375px) {

}

/* Mobile S 320 */
@media (max-width: 320px) {

}